.content{
    align-items: flex-start;
    justify-content: flex-start ;
}
.info-container ul li {
    display: flex;
    align-items: center;
}
.info-container ul li strong {
    margin-right: 5px;
}
.articles-list {
    width: 100%;
}
.articles-list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 3px;
    border: var(--border);
    background: white;
}
.article-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .articles-list ul li {
        flex-direction: column;
    }
    .article-actions{
        margin-top: 1rem;
    }
}